---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
<div class="banner-wrapper">
    <div class="home-banner">
    <div class="header-bg-change ha-waypoint" data-animate-down="header-background" data-animate-up="header-nobackground"></div>
        <div class="home-logo "> 
            <div class="logo">
            <img src="{{cdn '/assets/img/home-logo-2.svg'}}" alt="">
                <h1 >Timber Hockey</h1>
            </div>
        </div>
   
    </div>
</div>
<div class="cat-section clearfix"> 
   
    <div class="row no-margin">
        <div class="col-sm-12 col-md-6">
            <div class="hockey-gear cats">
                <a href="/sticks" class="inner-content">
                    <div><h2>Gear</h2></div>
                    <span></span>
                </a>
            </div>   
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="hockey-apparel cats">
                <a href="/apparel" class="inner-content">
                    <div><h2>apparel</h2></div>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="whoweare">
    <div class="row no-margin">
        <div class="content-section">               
            <h2>Who we are</h2>
            <p>Like you, we are sick of choosing between over-priced, over-hyped, hockey sticks that eat up your budget or low cost, low quality sticks that simply don't perform. We knew that there had to be a better way, so we created Timber Hockey to give hockey players a better option: a great stick at a fair price. Save Money, Play More</p>
        </div>
    </div>

</div>
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="main full">
    {{#if products.featured}}
        {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    {{/if}}
</div>
{{/partial}}
{{> layout/base}}
