// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
//
// -----------------------------------------------------------------------------

.header {
    padding:2rem 0 1rem;
    text-align:center;
    background: #000;
    .logo {
        img {
            width:3rem;
        }
        span {
            color:#fff;
            display: block;
        }
    }
    li {
        a {
            color:#fff;
        }
    }
}


