
.productGrid {
  .product {
    text-align:center;
  }
}

.home-page-products,
.category-wrapper {
  .productGrid {
    li {
      width:100%;
    }
  }
}
@media (min-width:750px) {
  .home-page-products,
  .category-wrapper {
    .productGrid {
      li {
        width:33.3333%;
      }
    }
  }
}

@media (min-width:992px) { 

  .home-page-products,
  .category-wrapper {
    .productGrid {
      li {
        width:25%;
      }
    }
  }
}